<h4 style="margin-top: 7%;" align='center'>{{viewTitle}}</h4>

<form action="/user/login" method="post">
    <div class="col s12">
        <input type="email" name="email" class="text col s4 offset-m4" placeholder="Email" required>
        <input type="password" name="password" class="text col s4 offset-m4" placeholder="Password" required>
    </div>
    <div class="col s12">
        <button class="btn waves-effect waves-light col s4 offset-m4" type="submit">Login
            <i class="material-icons right">login</i/>
        </button>
    </div>
</form>

{{#if errors }}
<script>
    var error = "Opps, {{errors}}"
    document.addEventListener('DOMContentLoaded', (event) => {
        M.toast({html: error})
    });
</script>
{{/if}}

