<h5 align='center'>{{viewTitle}}</h5>

<div class="container">
<form enctype="application/json" action="/newroster" method="POST">
    <div class="input-field col s10">
        <div class="col s3">
            <select name="store">
                <option value="" disabled selected>Store</option>
                <option value="Ranelagh">Ranelagh</option>
                <option value="Washers">Washers</option>
                <option value="Basket">Basket</option>
            </select>
        </div>
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Shift</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>        
    </div>    


    <div class="input-field col s12">
        <div class="col s3">
            <select name="store">
                <option value="" disabled selected>Fri</option>
                <option value="Ranelagh">Ranelagh</option>
                <option value="Washers">Washers</option>
                <option value="Basket">Basket</option>
            </select>
        </div>
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Sat</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>     
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Sun</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Mon</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Tue</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Wed</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="shiftTime">
                <option value="" disabled selected>Thu</option>
                <option value="Morning">Morning</option>
                <option value="Evening">Evening</option>
            </select>
        </div>      
        
    </div> 
    
    <button class="btn waves-effect waves-light col s1 offset-m8" type="submit">Add
                        <i class="material-icons right">add</i>
    </button>
    
</form>
</div>