<h5 align='center'>{{viewTitle}}</h5>

<div class="container">
<form enctype="application/json" action="/newroster" method="POST">
    <div class="input-field col s12">
        <div class="col s3">
            <input type="text" name="date" class="datepicker" placeholder="Select a date">
        </div>
        <div class="col s3">
            <select name="store">
                <option value="" disabled selected>Store</option>
                <option value="Ranelagh">Ranelagh</option>
                <option value="Washers">Washers</option>
                <option value="Basket">Basket</option>
            </select>
            <label for="store"></label>
        </div>     
    </div>   
    <div class="">
        <h5>Morning</h5>
    </div> 
    <div class="input-field col s12">
        <div class="col s3">
            <select name="friM">
                <option value="" disabled selected>Fri</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>
        <div class="col s3">
            <select name="satM">
                <option value="" disabled selected>Sat</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>     
        <div class="col s3">
            <select name="sunM">
                <option value="" disabled selected>Sun</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="monM">
                <option value="" disabled selected>Mon</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="tueM">
                <option value="" disabled selected>Tue</option>
               <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>  
        <div class="col s3">
            <select name="wedM">
                <option value="" disabled selected>Wed</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="thuM">
                <option value="" disabled selected>Thu</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>              
    </div> 

    <div class="">
        <h5>Evening</h5>
    </div> 
    <div class="input-field col s12">
        <div class="col s3">
            <select name="friE">
                <option value="" disabled selected>Fri</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>
        <div class="col s3">
            <select name="satE">
                <option value="" disabled selected>Sat</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>     
        <div class="col s3">
            <select name="sunE">
                <option value="" disabled selected>Sun</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="monE">
                <option value="" disabled selected>Mon</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="tueE">
                <option value="" disabled selected>Tue</option>
               <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>  
        <div class="col s3">
            <select name="wedE">
                <option value="" disabled selected>Wed</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>   
        <div class="col s3">
            <select name="thuE">
                <option value="" disabled selected>Thu</option>
                <option value="Daniele">Daniele</option>
                <option value="Raphael">Raphael</option>
                <option value="Francisca">Francisca</option>
                <option value="Isabelli">Isabelli</option>
                <option value="João">João</option>
                <option value="Thamara">Thamara</option>
                <option value="Talita">Talita</option>
                <option value="Mariana">Mariana S</option>
                <option value="Vandepaula">Vandepaula</option>
                <option value="Alaine">Alaine</option>
            </select>
        </div>              
    </div> 

    <button class="btn waves-effect waves-light col s1 offset-m8" type="submit">Add
        <i class="material-icons right">add</i>
    </button>
    
</form>
</div>