<h5 style="margin-top: 3%;" align='center'>Welcome, {{item}}</h5>
<h5 style="margin-top: 4%;" align='center'>{{viewTitle}}</h5>

<form enctype="application/json" action="/roster/" method="POST">
    <div class="col s10">
        {{!-- <input type="hidden" name="_id" value="{{user_id}}"> --}}
        <input type="text" name="date" class="datepicker col s3 offset-m6" placeholder="Select a date">
        <button class="btn waves-effect waves-light col s3 offset-m6" type="submit">Search
            <i class="material-icons right">search</i>
        </button>
    </div>
</form>
